@charset "UTF-8";
@font-face {
    font-family: 'BebasNeue';
    src: url(fontes/bebasneue.otf);
}
@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf);
}
:root{
    --cor01:#c5ebd6; 
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa866;
    --cor05:#1a5c37;
    --cor06:#063d1e;
    --fonte-padrao: Arial, Verdana, Sans-Serif;
    --fonte-destaque: 'BebasNeue', 'Idroid';
    --fonte-android: 'Idroid', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor01);
}
header{
    background-color: var(--cor04);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: lighter;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 2em;
}
header > p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
div.video{
    background-color: var(--cor05);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    padding-bottom: 50.7%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 0%;
    left: 5%;
    width: 90%;
    height: 100%;
}
main{
    background-color: white;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
    border-radius: 0px 0px 5px 5px;
}
img{
    width: 100%;
}
img#pequena{
    max-width: 300px;
    display: block;
    margin: auto;
}
main h1{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 19px;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right,rgba(144, 238, 144, 0.371), white);
    text-indent: 10px;
    font-size: 17px;
}
main strong{
    font-weight: bold;
    color: var(--cor05);
}
main a{
    background-color: var(--cor01);
    color: var(--cor05);
    font-weight: bold;
    text-decoration: none;
    padding: 3px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor04);
}
nav{
    background-color: var(--cor06);
    padding: 10px;
    box-shadow: 0px 07px 07px rgba(0, 0, 0, 0.414);
}
nav > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    margin-right: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.43);
    padding: 10px;
    transition-duration: 0.5s;
    font-size: 13px;
}
nav > a:hover{
    background-color: var(--cor01);
    color: var(--cor06);
}
article > p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-indent: 20px;
    font-family: var(--fonte-padrao);
    padding-left: 5px;
    text-align: justify;
    line-height: 1.5em;
}
aside{
    font-family: var(--fonte-padrao);
    box-shadow: 0px 07px 07px rgba(0, 0, 0, 0.338);
    border-radius: 5px;
    background-color: var(--cor01);
    text-indent: 20px;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}
aside p{
    margin: 10px;
    text-align: justify;
}
aside > h3{
    background-color: var(--cor02);
    font-family: var(--fonte-padrao);
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.538);
}
aside a{
    background-color: var(--cor02);
    color: var(--cor05);
}
aside a:hover{
    text-decoration: underline;
    color: var(--cor04);
}
aside > ul{
    list-style: "\2714";
    list-style-position: inside;
    columns: 2;
    font-size: 15px;
}
a.externo::after{
    content: '\0020\1F517';
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.356);
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: var(--cor03);
    font-weight: bold;
    font-size: 0.8;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor02);
}